*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', sans-serif;
    color: #838383;
    background-color: #f5f5fa;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9c9c9c;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9c9c9c;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9c9c9c;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9c9c9c;
}
h1, h2, h3, h4, h5, button{
      font-family: 'Titillium Web', sans-serif;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #0097DB;
    text-decoration: none;
    cursor: pointer!important;
}
main.css?1493179645:5
a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,a:visited:hover{
    opacity:.9;
    color: #00A1E0!important;
    text-decoration: underline;
}


.clearfix{
    clear:both;
}

#headerContainer{
    height: 110px;
    background-color: #fff;
    text-align: center;
    padding-top:40px;
}
.logo{
   
}

#bannerContainer{
    min-height: 600px;
    background-image: url('../img/bg3.jpg');
    background-size: cover;
}

#banner{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 400px;
}

#bannerText{
    float: right;
    text-align: right;
    width: 60%;
    margin-top: 150px;
    color: #32394e;
}

#bannerText h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

#bannerText p{
    width: 80%;
    float: right;
    font-size: 24px;
    line-height: 1.2;
}


#reportInput{
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 25px;

 
  box-shadow: 0px 9px 52.36px 15.64px rgba(50, 63, 98, 0.18);


}
#reportInput input{
     width: 100%;
     background-color: #fff;
     height:75px;
     border: 0;
     vertical-align: top;
     border-radius: 10px;
    padding-left: 20px;
    font-style: italic;
        font-size: 20px;
    color: #9c9c9c;
    
}

#reportInput button{
    background-color: #00a1e0;
    height:75px;
    width: 260px;
    margin-left: -260px;
    border: 0;
    border-radius: 10px;
    color:#fff;
    font-size: 18px;
    line-height: 18px;
}


#topInfluencersContainer{
    padding: 20px;
}

#topInfluencersBox{
    
    max-width: 1140px;
    margin: 0 auto;
    margin-top: -200px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px 30px 50px 30px;
    
   
  box-shadow: 0px 9px 52.36px 15.64px rgba(80, 80, 147, 0.09);
 

}

#topInfluencersBox h2{
    width: 100%;
    text-align: center;
    color: #00a1e0;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
}

#topInfluencersIllustration{
    width: 45%;
    float: left;
    margin-right: 5%;
}


#topInfluencersIllustration img{
    max-width: 100%;
    vertical-align: middle;
}
#topInfluencersDesctiption{
    width: 50%;
    float: left;
}

#topInfluencersDesctiption p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #919191;
}

.outline_btn{
    border: 2px solid #394054;
    border-radius: 5px;
    width: auto;
    padding: 10px 30px;
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    margin: 0 auto;
    display: block;
}


#fiveInfuencers{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

#fiveInfuencers .headingTitle{
    width: 100%;
    text-align: center;
    color: #00a1e0;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 30px;
}

#fiveInfuencers .headingPar {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

#dots{
    width: 47px;
    height: 11px;
    background-image: url("../img/dots.png");
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



.influencerPicture {
    float: left;
    width: 20%;

}

.influencerDescription {
float: left;
    margin-left: 5%;
    width: 75%;
    text-align: left;
}

.influencerDescription h2{
    color: #394054;
    font-size: 36px;
    margin-bottom: 15px;
        font-weight: 400;
}

.infPic {
    max-width: 192px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 14px 96px -28px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 14px 96px -28px rgba(0,0,0,0.15);
box-shadow: 0px 14px 96px -28px rgba(0,0,0,0.15);
}

.infSeparator {
    margin-top: 20px;
    height: 24px;
    background-image: url("../img/inf_shadow.png");
    background-size:contain;
    background-repeat: no-repeat
}

.infStat span {
    color: #aeb7d0;
    font-size: 15px;
    font-weight: 600;
    
}

.infStat span i{
    margin-right: 5px;
}

.Number {
    font-size: 30px;
    color: #17a1dc;
}

.infStat {
    
}

.influencerStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Number_posts {
    color: #17a1dc;
    margin-top: -8px;
}

.influencerNumber {
    position: absolute;
    font-size: 280px;
    z-index: -2;
    color: #e9eff8;
        left: 180px;
top: -130px;
}
    


.influencer {
    margin-bottom: 40px;
    position: relative;
}

#downloadReport {
    width: 100%;
    padding-bottom: 50px;
    background-image: url('../img/bg4.jpg');
    text-align: center;
    
}

.reportContainer {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 80px;
    
}

.reportContainer i{
    color: #98a8b9;
    font-size: 60px;
}


.reportContainer p.reportHeader{
    color: #fff;
    font-size: 45px;
    width: 65%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.3;
    margin-top: 20px;
}

.reportContainer p.reportHeaderSmaller{
    color: #b0bbc8;
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.3;
    
}



.bottomInput {
    width: 60%;
    margin: 0 auto;
}

#footerContainer {
    
}

.footer {
    max-width: 1140px;
    margin: 0 auto;
    
}

.linksL {
    width: 50%;
    float: left;
}




a.fHeader{
    color: aqua;
    float: left;
    margin-bottom: 20px;
}
.linksP {
    width: 50%;
    float: left;
}

.links {
    height: 300px;
    margin-top: 60px;
}



.footer-menu-list>li>a {
    color: #00A1E0;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-menu-list>li {
   float: left;
    width: 33%;
}


.footer-menu-list>li.column li {
    width: 50%;
    float: left;
    display: block;
}

.footer-menu-list>li.column {
    width: 100%;
    
}

.footer-menu-list a {
    color: #737A80;
    display: block;
    font-size: 16px;
    margin-bottom: 6px;
}

#comLogo {
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 50px;
}


.fLogo{
    width: 33%;
    height:44px;
    float: left;
    text-align: center;
    
}



.footer-links{
    float: right;
}

.footer-links a {
    margin: 0 5px;
    color: #9294A4;
    position: relative;
    padding-left: 15px;
}
#footerCopy {
    float: left;
}

#fCopy {
    margin: 20px 0 40px 0;
    padding-top: 40px;
    clear: both;}


@media (max-width: 1050px) { 
   
    #topInfluencersIllustration{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #topInfluencersDesctiption{
        float: none;
        width: 100%;
        text-align: center;  
    }
    
    .influencerPicture{
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .influencerNumber{
        display: none;
        visibility: hidden;
    }
    
    .influencer{
        margin-bottom: 50px;
    }
    
    .influencerDescription{
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
        
    }
    
    
    #bannerContainer {
   
    background-position: right;
}
    #bannerText{
    width: 80%;

}
    

    
    #bannerText h1{
        width: 60%;
        float: right;
    }
    
    .reportContainer p.reportHeaderSmaller, .bottomInput, .reportContainer p.reportHeader{
        width: 90%;
    }
    
    
    .linksL, .linksP{
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    

    
    

    
}




@media (max-width: 800px) { 
    .influencerStats {
        width: 100%;
        display: block;

        
  flex-wrap:  wrap;

}
    
    .infStat:last-child {
        width: 100%;
        
    }
    
    .infStat{
        display: inline-block;
       padding: 10px;
        width: 50%;
        float: left;
        text-align: center;
    }
    
    
     #bannerText{
    width: 100%;

}
    

    
    #bannerText h1{
        width: 100%;
        float: none;
        text-align: center;
    }
    
    #bannerText p{
        width: 100%;
        text-align: center;
    }
    
    .reportContainer p.reportHeaderSmaller, .bottomInput, .reportContainer p.reportHeader{
        width: 90%;
        text-align: center;
    }
    
    #footerCopy{
        width: 100%;
        margin: 20px 0 20px 0;
        text-align: center;
    }
    
    .footer-links{
        width: 100%;
        text-align: center;
    }
    
}


@media (max-width: 630px) { 

#reportInput input{
    
        font-size: 18px;
    
    
}

#reportInput button{
   
    width: 180px;
    margin-left: -180px;
    font-size: 17px;
    line-height: 18px;
}
}



